@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100dvh;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #212121;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cursor {
    display: none;
}


.welcomePage {
    display: none;
    position: absolute;
    font-family: Roboto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.2em;
    background: #00000093;
    color: #fff;
    padding: 40px;
    width: 70vw;
    border-radius: 20px;
    z-index: 90;
}

.welcomePage button {
    font-size: 20px;
    padding: 4px 8px;
    margin-top: 30px;
    background-color: #6600FF;
    border: none;
    color: #fff;
    border-radius: 8px;
}

/* ================== Header ====================*/
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 0 2vw;
}

.heading .logo {
    width: 45px;
    margin: 5px;
    transition: .3s;
}
.heading .logo:hover {
    width: 55px;
    margin: 0px;
}

.date {
    position: relative;
}

.date .year {
    font-size: 50px;
    font-weight: 900;
    opacity: .4;
}

.month {
    display: flex;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .8;
    color: black;
}
.month .sec2 {
    margin-left: 10px;
}

.addButton {
    width: 40px;
    transition: .5s;
}
.addButton:hover {
    opacity: .8;
    rotate: 90deg;
}

/* ================== Main Body ====================*/
.taskListContainer {
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 5vw;
    left: 5vw;
    background: #00000070;
    border-radius: 30px 30px 0 0;
}

.taskUl {
    list-style: none;
}

.taskUl li {
    display: flex;
    margin: 30px 10px;
}

.taskDoneSec {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
    color: #fff;
}

.tick {
    background: #323232;
    border-radius: 50%;
    border: 2px solid #212121;
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.insideTick{
    width: 35px;
    height: 100%;
}

.checked {
    color: grey;
    text-decoration: line-through;
}

.taskDoneSec .text {
    color: #fff;
}

.delTask {
    width: 20px;
    height: 100%;
    padding: 10px;
}

.delTask:hover {
    background-color: #323232;
    border-radius: 10px;
}


/* ================== Add Task Pop up ====================*/

.addTask {
    display: grid;
    justify-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #21212180;
    border: 2px solid #000;
    color: #fff;
    padding: 30px 50px;
    text-align: center;
    border-radius: 20px;
    opacity: 0;
    transition: .5s;
}
.addTask h1 {
    font-size: 40px;
}

.addTask input {
    margin: 20px 0;
    width: 60vw;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ffffff50;
    background-color: #00000050;
    color: #fff;
    outline: none;
}

.addTask button {
    font-size: 20px;
    padding: 5px 15px;
    background-color: #14FFEC;
    border: 2px solid #0D7377;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 20px;
}


@media (min-width: 900px) {
    *{
        cursor: none;
    }

    .cursor {
        display: inline;
        position: absolute;
        z-index: 100;
        width: 30px;
        transform: rotate(20deg) translate(-6px, 6px);
        pointer-events: none;
        filter:drop-shadow(2px 2px 2px #000);
    }
    
    .taskList {
        right: 45px;
        left: 45px;
    }
    .addTask input {
        width: 450px;
        margin: 30px 0;
    }

    .taskUl {
        padding: 30px 80px;
    }
}
@media (min-width: 1500px) {
    .addTask input {
        width: 550px;
        margin: 40px 0;
    }
    .taskUl {
        padding: 30px 120px;
    }
}